</main>
<footer>
  <ul class="nav-list">
    <li><a href="/incomes" class="btn-icon">
      <img src="/images/incomes.svg" alt="" class="<%= section === 'incomes' ? 'active-icon' : '' %>">
      <h4 class="<%= section === 'incomes' ? 'active-text' : '' %>">Entrate</h4>
    </a>
  </li>
    <li><a href="/bills" class="btn-icon">
      <img src="/images/receipt.svg" alt="" class="<%= section === 'bills' ? 'active-icon' : '' %>">
      <h4 class="<%= section === 'bills' ? 'active-text' : '' %>">Fisse</h4>
    </a></li>
    <li><a href="/" class="btn-icon home">
        <img src="/images/wallet.svg" alt="">
      </a></li>
    <li><a href="/savings" class="btn-icon">
        <img src="/images/savings.svg" alt="" class="<%= section === 'savings' ? 'active-icon' : '' %>">
      <h4 class="<%= section === 'savings' ? 'active-text' : '' %>">Risparmi</h4>

      </a></li>
    <li><a href="/history" class="btn-icon">
        <img src="/images/history.svg" alt="" class="<%= section === 'history' ? 'active-icon' : '' %>">
      <h4 class="<%= section === 'history' ? 'active-text' : '' %>">Storico</h4>

      </a></li>
  </ul>
</footer>
</div>
<script src="js/main.js"></script>
</body>

</html>