<%- include("startheader.ejs") %>
  <div class="fullContainer">
    <header class="<%= section %>">
      <div class="background-container"></div>
      <div class="alert-container"></div>
      <div class="int-header">
        <div class="header-btn dropdown-menu">
          <a href="/settings" class="settings-btn" id="settingsBtn" onclick="toggleLogout()">
            <div class="settings-icon">
              <div class="setting-circle setting-circle1"></div>
            </div>
            <div class="settings-icon">
              <div class="setting-circle setting-circle2"></div>
            </div>
            <div class="settings-icon">
              <div class="setting-circle setting-circle1"></div>
            </div>
          </a>
        </div>
        <% const pageNames={ home: "Traccia Spese" , incomes: "Entrate" , bills: "Spese Fisse" , savings: "Risparmi" ,
          history: "Storico" , settings: "Impostazioni" }; %>
          <h1 class="name">
            <%= pageNames[section] || "Traccia Spese" %>
          </h1>
          <!-- bell icon -->
          <div class="header-btn ring-bell" id="bell-alert">
            <img class="bell-icon" src="/images/bell.svg">

            <% if (alertCount> 0) { %>
              <span class="bell-badge">
                <%= alertCount %>
              </span>
              <% } %>
          </div>

          <!-- bell popup -->
          <div id="bell-popup" class="bell-popup hidden">

            <% if (alerts.paydayMissing) { %>
              <div class="alert-item">
                <p>Devi impostare la data di pagamento.</p>
                <button id="go-to-payday">Vai alle impostazioni</button>
              </div>
              <div class="line"></div>
              <% } %>

              <% alerts.billsDue.forEach(b=> { %>
                <div class="alert-item due">
                  <div class="container-int">
                    <h2 class="text-int-bell"><%= b.name %> è in scadenza oggi</div>
                    <h2 class="text-int-bell">€<%= b.value %></h2>
                  </div>
                  <button class="mark-paid" data-id="<%= b.id %>">pagare</button>
                </div>
              <div class="line"></div>

                <% }) %>

              <% alerts.billsOverdue.forEach(b=> { %>
                <div class="alert-item overdue">
                  <div class="container-int">
                    <h2 class="text-int-bell"><%= b.name %> è scaduta</h2>
                    <h2 class="text-int-bell">€<%= b.value %></h2>
                  </div>
                  <button class="mark-paid" data-id="<%= b.id %>">pagare</button>
                </div>
              <div class="line"></div>
                <% }) %>
          </div>

      </div>
    </header>