<section id="history">
  <div class="title">
    <h2 class="title-name">Storico settimanale</h2>
  </div>

  <% summaries.forEach(summary => { %>
    <div class="total-week">
      <h2 class="daysWeek">
        <%= summary.label %>
      </h2>
      <div class="infos">
        <div class="container-table">
          <table class="container-text">
            <tr>
              <td class="name">Limite</td>
              <td class="value">
                <%= summary.weekly_limit.toFixed(2) %> €
              </td>
            </tr>
            <tr>
              <td class="name">Speso</td>
              <td class="value">
                <%= summary.total_spent.toFixed(2) %> €
              </td>
            </tr>
            <tr class="line">
              <td colspan="2"></td>
            </tr>
            <tr>
              <td class="name">Libero</td>
              <td class="value <%= summary.remaining < 0 ? 'negative' : '' %>">
                <%= summary.remaining.toFixed(2) %> €
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% }) %>
</section>
